/* Main */

.login {
   width: 100vw;
   height: 100vh;
   background-color: #f0f2f5;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loginWrapper {
   width: 65%;
   height: 70%;
   display: flex;
}

/* Left area */

.loginLeft {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.loginLogo {
   font-size: 50px;
   font-weight: 800;
   color: #1775ee;
   margin-bottom: 10px;
   text-align: left;
}

.loginDesc {
   font-size: 25px;
   width: 90%;
}



/* Right area */

.loginRight {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.loginBox {
   width: 375px;   
   height: 325px;   
   padding: 20px;   
   background-color: white;
   border-radius: 10px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.loginInput {
   height: 50px ;
   border-radius: 5px;
   border: 1px solid lightgray;
   font-size: 18px;
   padding-left: 20px;
   margin-bottom: 5px;
}

.loginInput:focus {
   outline: none;
}

.loginButton {
   height: 45px;
   border-radius: 5px;
   border: none;
   background-color: #1775ee;
   color: white;
   font-size: 20px;
   font-weight: 500;
   cursor: pointer;   
}

.loginForgot {
   text-align: center;
   color: #1775ee;
   font-size: 14px;
   font-size: none;
   text-decoration: none;
}

.loginForgot:hover {
   text-decoration:underline;
}

.bar {
   color: lightgray;
   border-top: 0.5px solid lightgray;
   width: 100%;
}

.loginRegisterButton {
   width: 60%;
   height: 45px;
   border-radius: 5px;
   border: none;
   background-color: #42b72a;
   color: white;
   font-size: 15px;
   font-weight: 500;
   cursor: pointer;   
   align-self: center;
}



